<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.leepantam.s3.bankbook.BankBookDAO">

	<insert id="setWrite" parameterType="com.leepantam.s3.bankbook.BankBookDTO">
		insert into bank_book values(bank_seq.nextval, #{account_name}, #{interest_rate}, #{can_make})
	</insert>
	
	<select id="getSelect" parameterType="com.leepantam.s3.bankbook.BankBookDTO" resultType="com.leepantam.s3.bankbook.BankBookDTO">
		select * from bank_book where account_number=#{account_number}
	</select>
	
	<select id="getList" resultType="com.leepantam.s3.bankbook.BankBookDTO" >
		select * from bank_book order by account_number desc
	</select>
	
	<delete id="setDelete" parameterType="com.leepantam.s3.bankbook.BankBookDTO">
		delete from bank_book where account_number=#{account_number}
	</delete>
	
	<update id="setUpdate" parameterType="com.leepantam.s3.bankbook.BankBookDTO">
		update bank_book set account_name=#{account_name}, interest_rate=#{interest_rate},can_make=#{can_make} where account_number=#{account_number}
	</update>

</mapper>